<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentagym">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera"/>
    <uses-permission android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentAGym">
        <activity android:name=".Workout.Workout_Link_Main"/>
        <activity android:name=".Workout.Workout_Images_Main"/>
        <activity android:name=".Workout.Workout_Login"/>
        <activity android:name=".Workout.Workout_Membership"/>
        <activity android:name=".MenuOption.Help"/>
        <activity android:name=".MenuOption.Setting"/>
        <activity android:name=".Customer.Customer_ChatAI"/>
        <activity android:name=".Seller.Seller_Chat"/>
        <activity android:name=".Customer.Customer_Chat"/>
        <activity android:name=".Scanner.Customer_QR_code"/>
        <activity android:name=".Scanner.Seller_QR_Code"/>
        <activity android:name=".Scanner.qr_code"/>
        <activity android:name=".Customer.Customer_GridItem"/>
        <activity android:name=".Customer.Customer_Login"/>
        <activity android:name=".Customer.Customer_Register"/>
        <activity android:name=".Customer.CustomerActivity"/>
        <activity android:name=".Seller.SellerActivity"/>
        <activity android:name=".Seller.Seller_Login"/>
        <activity android:name=".Seller.Seller_Register"/>
        <activity android:name=".MenuOption.GoogleMaps"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Scanner.Seller_QR_Code_2"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAqdpypOrkw9puJfQXyekd4W4p-cKRKv0" />
    </application>

</manifest>